{% extends "layout.html" %}

<head>
{% block title %}Settings{% endblock %}
</head>

{% block content %}
<h1>Settings</h1>
<script>
    function get_tz() {
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.getElementById('chosen_tz').value = tz
    }
</script>

{{alerts}}
<form action="/submit_settings">
    <div class="settings mx-4 mb-4">
        <h2 class="mt-3">Timezone</h2>
        <div class="mx-1">
            <p class=" mb-0">You can manually choose a timezone below, or get it automatically detected by <a href="\\" onclick="get_tz()">clicking here.</a></p>
            <p>If you don't know what timezone to pick, check out <a href="https://kevinnovak.github.io/Time-Zone-Picker/">this link.</a></p>
            <input type="text" name="chosen_tz" id="chosen_tz" list="tz_list" value="{{tz}}" />
            <datalist id="tz_list">
                {% for t in timezones: %}
                    <option> {{t}} </option>
                {% endfor %}
            </datalist>
        </div>
    
    </div>
    <p>
        <input type="submit" value="Save Changes" />
    </p>
</form>
<p><a href="{{url_for('reset_pet')}}">Change your current pet</a></p>
    <p><a href="{{url_for('reset')}}">Start over (resets your points)</a></p>
{% endblock %}